@font-face {
    font-family: "Anglecia Pro Dsp";
    src: url("angleciaprodisplay.eot"); /* IE9 */
    src: url("angleciaprodisplay.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("angleciaprodisplay.woff") format("woff"), /* chrome, firefox */
    url("angleciaprodisplay.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("angleciaprodisplay.svg#Anglecia Pro Dsp") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


