@font-face {
    font-family: "Proxima Nova Cn Rg";
    src: url("proximanova-bold.eot"); /* IE9 */
    src: url("proximanova-bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("proximanova-bold.woff") format("woff"), /* chrome, firefox */
    url("proximanova-bold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("proximanova-bold.svg#Proxima Nova Cn Rg") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


