@font-face {
    font-family: "PT Sans Caption";
    src: url("ptsans.eot"); /* IE9 */
    src: url("ptsans.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("ptsans.woff") format("woff"), /* chrome, firefox */
    url("ptsans.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("ptsans.svg#PT Sans Caption") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


